@import '../../../../../scss/fonts';

.homeProduct {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.3em; //changed from 1.8 to balance heading images on home page


    a {
        color: black;
        text-decoration: none;
    }

    .productImage {
        background: url(https://housoku-server-8d1399a4e220.herokuapp.com/housoku-images/products/pants/cargo/housoku-black-cargo.jpg) no-repeat;
        background-size: cover;
        background-position-y: bottom;
        overflow: hidden;
        border-radius: 5px;
        // border-radius: 10px;
        //margin-bottom: 1.5em; instead os placing margin at bottom, increasing click region - used margin-top for product info instead
    }

    @mixin productInfoSpacing ($spacing: 0) {
        margin-top: $spacing;
    }

    .productImgContainer {
        background-color: rgb(246, 246, 246);
    }

    .productImg {
        max-width: 460px;
        max-height: 460px;
        flex: 1 1 0;
    }

    .productInfo {
        margin-top: 1.5em;
        font-size: 1.4em;

        p {
            margin: 0;
            margin-bottom: .3em;
        }
    }

    .productName {
        font-size: 1.15rem;
        @include ProductFont(400)
    }

    .productDesc {
        color: gray;
        font-size: 1.25rem;
        @include ProductFont(300)
    }

    .productPrice {
        font-weight: 400;
        font-size: 1.1rem;
        @include ProductFont(400)
    }
}