@use '../../../../scss/fonts' as f;

.productContainer {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 4em; //changed from 1.8 to balance heading images on home page
    padding: 0 0.5em 0 0.5em;
    height: fit-content;


    @mixin productInfoSpacing ($spacing: 0) {
        margin-top: $spacing;
    }


    .productImg {
        height: 100%;
        max-height: 100%;
    }

    .productImgContainer {
        background-color: rgb(246, 246, 246);
        aspect-ratio: 1;
        min-height: 100%;
    }

    .productInfo {
        margin: auto 0;
        justify-self: flex-end;
        margin-top: 0.5em;
        font-size: 1.4em;

        p {
            margin-bottom: .3em;
        }
    }

    .productName {
        font-size: 1.1rem;
        @include f.ProductFont(400);
    }

    .categoryName {
        @extend .productName;
        color: grey;
        padding-bottom: 0.4em;

    }

    .productPrice {
        font-size: 1rem;
        @include f.ProductFont(400);
    }

}

.maxWidth {
    @extend .productContainer;
}