@use '../../../../scss/fonts' as f;

.productContainer {

    display: flex;
    flex-direction: column;
    padding-bottom: 4em; //changed from 1.8 to balance heading images on home page


    @mixin productInfoSpacing ($spacing: 0) {
        margin-top: $spacing;
    }

    .productInfo {
        margin-top: 0.5em;
        font-size: 1.4em;

        p {
            margin-bottom: .3em;
        }
    }

    .productName {
        font-size: 1.1rem;
        @include f.ProductFont(400);
    }

    .categoryName {
        @extend .productName;
        color: grey;
        padding-bottom: 0.4em;
    }

    .productPrice {
        font-size: 1rem;
        @include f.ProductFont(400);
    }

}