@import '../../../scss/fonts';

.signIn {
    $headingFontSize: 2rem;
    $headingFontWeight: 500;

    $labelFontSize: 1rem;
    $labelFontWeight: 500;
    $labelSpaceUnder: 1em;

    $inputSpaceUnder: 1em;
    $inputFontSize: 1.1rem;
    $inputFontWeight: 500;

    $errorMsgFontSize: 0.93rem;
    $errorFontWeight: 400;

    $borderColour: black;
    $errorBorderColour: rgb(219, 0, 0);
    $errorTextColour: rgb(219, 0, 0);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;

    .heading {
        flex: 1 1 0;
    }

    .signIn-form {
        width: 441px;
        text-align: center;
        padding-bottom: 3em;
        flex: 1 1 0;
    }

    h4 {
        font-size: $headingFontSize;
        margin-bottom: 1.5em;
    }

    label {
        display: block;
        text-align: start;
        font-size: $labelFontSize;
        font-weight: $labelFontWeight;
        margin-bottom: $labelSpaceUnder;
    }

    input {
        outline: none;
        text-decoration: none;
        padding: .6em 0em;
        width: auto;
        border: 1px solid $borderColour;
        border-radius: 1px;
        margin-bottom: $inputSpaceUnder;
        font-size: $inputFontSize;
        font-weight: $inputFontWeight;
        width: 100%;
    }

    input:focus {
        border-bottom: 3px solid $borderColour;
    }

    .inputError {
        @extend input;
        border: 1px solid $errorBorderColour;
    }

    .inputError:focus {
        border-bottom: 3px solid $errorBorderColour;
    }


    .signInBtn {

        margin-top: 2em;
        background-color: black;
        color: white;
        padding: 2em 0em;
        width: 100%;
        // border-radius: 30px;
        font-weight: 700;
        border-style: none;
        //align-self: center;
        justify-content: center;
        cursor: pointer;
    }

    .signInBtn:hover {
        background-color: rgb(51, 51, 51)
    }

    p {
        margin: 0;
        padding: 0%;
    }

    .errorMsg {
        font-size: $errorMsgFontSize;
        font-weight: $errorFontWeight;
        padding: 0.5em 0;
        margin-top: -1em;
        text-align: start;
        color: $errorTextColour;
    }
}

@media (max-width: 470px) {
    .signIn {
        .heading {
            text-align: center;
        }

        .item {
            width: 90%;
        }
    }
}