@import '../../../scss/fonts';

.homePage {

    $textColour: white;
    $heroTextSize: 2em;
    overflow: hidden;

    .heroImage {
        position: relative;
        display: flex;
        flex-direction: column;
        /*      justify-content: flex-end;
        align-items: flex-start; */
        justify-content: center;
        align-items: center;
        // height: 745px;
        height: 675px;
        overflow: hidden;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.489)),
            /* url('~/public/housoku-images/hero-image-2-copy.jpg')  */
            url('http://localhost:8080/housoku-images/hero/home/graffiti-1.jpg') no-repeat;
        background-size: cover;
        background-position-y: top;
        background-position-x: center;
        margin-bottom: 5em;
    }

    .heroContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: $textColour;
        font-size: $heroTextSize;
        text-align: center;
        row-gap: 0.5em;
        padding: 1em 0 1em 0;
    }

    .heroTitle {
        font-size: 2.5rem;
    }

    .heroSubTitle {
        font-size: 1.65rem;
        @extend .roboto-bold;
        margin-bottom: 1em;
        color: white;
        // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .heroBtn {
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 1.5em;
        padding-left: 3.5em;
        padding-right: 3.5em;
        border-radius: 15px;
        font-weight: 700;
        border-style: none;
        cursor: pointer;
    }

    .heroBtn:hover {
        background-color: rgb(59, 59, 59);
    }

    @mixin sectionSpacing($spacing: 0) {
        padding-top: $spacing;
    }

}