@use '../../../scss/fonts' as f;

.homePage {

    $textColour: white;
    $heroTextSize: 2em;
    overflow: hidden;

    .heroImage {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 625px;
        overflow: hidden;
        background: linear-gradient(rgba(255, 255, 255, 0.067), rgba(0, 0, 0, .6)),
            url('https://housoku-server-8d1399a4e220.herokuapp.com/housoku-images/hero/home/graffiti-1.jpg') no-repeat;
        background-size: cover;
        background-position-y: top;
        background-position-x: center;
        /*    margin: 0 3.5em 2.75em 3.5em;
        transform: scale(1); */

        margin-bottom: 2.75em;

    }

    .heroContainer {
        border: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: $textColour;
        font-size: $heroTextSize;
        text-align: center;
        row-gap: 0.5em;
        margin: 0;
        padding: 0 0 3em 0;
    }

    .heroTitle {
        font-size: 1.95rem;
        @extend .roboto-black;
        font-weight: bold;
    }

    .heroSubTitle {
        font-size: 1.5rem;
        @extend .roboto-regular;
        margin-bottom: .5em;
        color: white;
        // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .heroBtn {
        display: block;
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 0;
        border-radius: 15px;
        height: 60px;
        width: 130px;
        font-weight: 700;
        font-size: 1rem;
        @include f.ProductFont(600);
        border: 2px solid gray;
        text-decoration: none;
        cursor: pointer;
    }

    .heroBtn:hover {
        background-color: rgb(212, 212, 212);
    }

    @mixin sectionSpacing($spacing: 0) {
        padding-top: $spacing;
    }
}

@media (min-width: 960px) {
    .homePage {
        .heroImage {
            align-items: flex-start;
        }

        .heroContainer {
            padding: 1em 0 1em 0;
            margin: 2em 0 2em 3.5em;
        }
    }
}

@media (min-width: 400px) {
    .homePage {
        .heroImage {
            align-items: flex-start;
        }

        .heroContainer {
            padding: 1em 0 1em 0;
            margin: 2em 0 2em 3.5em;
        }
    }
}