@use '../../../scss/fonts' as f;

.browseProducts {

    margin: 0.8em 0 0 3em;

    .topLayer {
        padding-right: 0;
        margin-right: 5em;
    }

    .wallHeader {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .wallBreadCrumbs {
        font-weight: 600;
        padding: 0 0 1em 0;
    }

    .wallHeaderContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 2em;
    }

    .heading {
        padding: 0;
        margin: 0;
        vertical-align: top;
    }

    .toggleHideFilter {
        font-size: 1rem;
        margin-left: auto;
    }

    .toggleHideFilter span {
        font-weight: 600;
        vertical-align: bottom;
    }

    #filterIcon {
        vertical-align: bottom;
        margin-left: 1em;
        height: 20px;
        width: 20px;
    }



    .products {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 1em;
        margin: 0 2em;
    }

    .products:last-child {
        justify-self: start;
    }

    .mainView {
        display: flex;
        flex-direction: row;
        column-gap: 3em;
    }

    .filters {
        flex-shrink: 1;
        margin-left: .5em;
    }

    .toggleHideFilterBtn {
        background: none;
        border: none;
    }

    .toggleHideFilterBtn:hover {
        cursor: pointer;
    }

}