@use '../../../../scss/fonts' as f;

.filter {
    $headingFontSize: 1.2rem;
    $headingFontWeight: 500;

    $filterFontSize: 1.05rem;
    $filterFontWeight: 500;

    width: 12em;


    .subcategoryFilter {
        padding: 0 0 1.3em 0;
    }

    .subcategoryFilter p:hover {
        cursor: pointer;
    }

    p {
        @extend .roboto-regular;
        margin: 0;
        padding: 0 0 .45em 0;
        font-size: $filterFontSize;
        // font-weight: $filterFontWeight;
        color: black;
    }

    .filterBorder {
        padding: 0;
        border-color: gray;
        opacity: 0.1;
    }
}