@import '../../../scss/fonts';



.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    $font-stack: Verdana, sans-serif;
    $color: black;
    $background: white;
    $navFontSize: 1rem;
    $BrandFontSize: 1.3rem;
    left: 0;
    right: 0;
    z-index: 1000;

    .navTrigger {

        // border: 1px solid rgba(255, 0, 0, 0);
        width: 100%;
        z-index: 2000;
        margin-bottom: auto;
    }


    .nav {
        z-index: 1000;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: $font-stack;
        color: $color;
        background-color: $background;
        transition-property: height;
        transition-duration: 2s;
        transition-timing-function: linear;
        transition-delay: .5s;

        padding: 0em 3em;
        height: 4em;
        overflow: hidden;

        .navbar-brand {
            margin-right: auto;
        }

        #brand {
            color: $color;
            text-decoration: 'none';
            font-size: $BrandFontSize;
            @extend .roboto-medium
        }

        #brand:hover {
            color: grey
        }

        .navbar-list {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }


        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        li {
            display: inline;

        }

        a {
            text-decoration: none;
            color: black;
        }



        .link,
        .link:visited {
            position: relative;
            display: none;
            padding: 0 1.75em;
            text-decoration: none;
            color: $color;
            font-size: $navFontSize;
            @extend .roboto-regular;
            z-index: 3;
        }

        .link:hover {
            text-decoration: underline;
            text-underline-offset: .8em;
        }

        .searchbar {
            text-wrap: nowrap;
            color: rgb(179, 179, 179);
            position: relative;
            display: none;
            text-align: center;
            background-color: white;
            padding: .7em 4em;
            margin-right: 2em;
            background-color: rgba(195, 195, 195, 0.1);
            border-radius: 20px;
            z-index: 1000;
        }

        #cartCount {
            position: absolute;
            @extend .roboto-medium;
            font-size: 0.85rem;
            top: 1.5em;
            margin-left: .1em;
            flex-grow: 0;

        }

        #shoppingCart {
            margin-right: 0.65em;
            z-index: 1000;
        }


        // Drop down menu CSS

        .dropDownMenu {
            position: fixed;
            display: none;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            left: 0;
            right: 0;
            background-color: white;
            padding: 4em 0em 5em 0em;
            column-gap: 6em;
            z-index: 2;
        }

        .dropDownMenu li {
            display: block;
            list-style: none;
            text-align: left;

        }



        .dropDownHeader {
            font-size: $navFontSize;
            @extend .roboto-regular;
            margin-bottom: 1em;

        }

        .dropDownLink {
            font-size: $navFontSize;
            @extend .roboto-regular;
            text-align: left;
            margin-bottom: .3em;
        }

        .dropDownLink a {
            @extend .dropDownLink;
            font-size: 1rem;
            color: grey;
        }

        .dropDownLink a:hover {
            color: black;
        }

        .navbar-list li:hover .dropDownMenu {
            @extend .dropDownMenu;
            display: flex;

        }
    }

    .nav * {
        flex: 0 0 auto;
    }

    .prespacer {
        background-color: white;
        left: 0;
        right: 0;
        height: 4em;
    }

}

@media (min-width: 475px) {
    .navbar .nav {

        .searchbar {
            display: block;
            visibility: hidden;
        }

    }
}

@media (min-width: 960px) {
    .navbar .nav {

        .link,
        .link:visited {
            display: inline-block;
        }

    }
}