* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .homePage .heroSubTitle, .filter p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .homePage .heroSubTitle, .filter p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.browseProducts .topLayer {
  padding: 0;
  padding: 1.5em 3em 0.5em 3em;
}
.browseProducts .wallHeader {
  font-size: 1.5rem;
  font-weight: 600;
}
.browseProducts .wallBreadCrumbs {
  font-weight: 600;
  padding: 0 0 1em 0;
}
.browseProducts .wallHeaderContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 2em;
}
.browseProducts .heading {
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.browseProducts .toggleHideFilter {
  display: none;
  margin-left: auto;
}
.browseProducts .toggleHideFilter span {
  font-size: 1.1rem;
  font-weight: 500;
  vertical-align: bottom;
}
.browseProducts #filterIcon {
  vertical-align: top;
  margin-left: 1em;
  height: 20px;
  width: 20px;
}
.browseProducts .mainView {
  display: flex;
  flex-direction: row;
  column-gap: 0;
  padding: 0 3em 0 2.5em;
  justify-content: flex-start;
}
.browseProducts .mainViewMsg {
  font-size: 1.2rem;
  color: black;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.browseProducts .products {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.5fr 0.5fr;
  row-gap: 3.5em;
  padding: 0;
  margin: 0;
  width: auto;
  flex: 1 1 0;
}
.browseProducts .filters {
  display: none;
  position: relative;
  margin: 0;
  padding: 0 3.6em 0 0.5em;
}
.browseProducts .toggleHideFilterBtn {
  background: none;
  border: none;
}
.browseProducts .toggleHideFilterBtn:hover {
  cursor: pointer;
}

@media (width > 960px) {
  .browseProducts .filters {
    display: block;
  }
  .browseProducts .products {
    width: 100%;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .browseProducts .toggleHideFilter {
    display: block;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .homePage .heroSubTitle, .filter p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.filter {
  width: 12em;
}
.filter .subcategoryFilter {
  padding: 0 0 1.3em 0;
}
.filter .subcategoryFilter p:hover {
  cursor: pointer;
}
.filter p {
  margin: 0;
  padding: 0 0 0.45em 0;
  font-size: 1.05rem;
  color: black;
}
.filter .filterBorder {
  padding: 0;
  border-color: gray;
  opacity: 0.1;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .homePage .heroSubTitle, .filter p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.productContainer, .maxWidth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 4em;
  padding: 0 0.5em 0 0.5em;
  height: fit-content;
}
.productContainer .productImg, .maxWidth .productImg {
  height: 100%;
  max-height: 100%;
}
.productContainer .productImgContainer, .maxWidth .productImgContainer {
  background-color: rgb(246, 246, 246);
  aspect-ratio: 1;
  min-height: 100%;
}
.productContainer .productInfo, .maxWidth .productInfo {
  margin: auto 0;
  justify-self: flex-end;
  margin-top: 0.5em;
  font-size: 1.4em;
}
.productContainer .productInfo p, .maxWidth .productInfo p {
  margin-bottom: 0.3em;
}
.productContainer .productName, .maxWidth .productName, .productContainer .categoryName, .maxWidth .categoryName {
  font-size: 1.1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.productContainer .categoryName, .maxWidth .categoryName {
  color: grey;
  padding-bottom: 0.4em;
}
.productContainer .productPrice, .maxWidth .productPrice {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.createAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.createAccount .createAccount-form {
  width: 441px;
  text-align: center;
  padding-bottom: 3em;
}
.createAccount .item {
  flex: 1 1 0;
}
.createAccount h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.createAccount label {
  display: block;
  text-align: start;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1em;
}
.createAccount input, .createAccount .inputError {
  outline: none;
  text-decoration: none;
  padding: 0.6em 0em;
  margin-bottom: 1em;
  border: 0.5px solid black;
  border-radius: 1px;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
}
.createAccount input:focus, .createAccount .inputError:focus {
  border-bottom: 3px solid black;
}
.createAccount .inputError {
  border: 1px solid rgb(219, 0, 0);
}
.createAccount .inputError:focus {
  border-bottom: 3px solid rgb(219, 0, 0);
}
.createAccount .createAccountBtn {
  margin-top: 3em;
  background-color: black;
  color: white;
  padding: 2em 0em;
  width: 100%;
  font-weight: 700;
  border-style: none;
  justify-content: center;
  cursor: pointer;
}
.createAccount .createAccountBtn:hover {
  background-color: rgb(51, 51, 51);
}
.createAccount p {
  margin: 0;
  padding: 0%;
}
.createAccount .errorMsg {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5em 0;
  margin-top: -1em;
  text-align: start;
  color: rgb(219, 0, 0);
}

@media (max-width: 470px) {
  .createAccount .heading {
    text-align: center;
  }
  .createAccount .item {
    width: 90%;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .homePage .heroSubTitle, .filter p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
footer {
  width: auto;
  background-color: black;
  overflow: hidden;
  padding: 0em 3.5em;
  margin: 3em 0 0 0;
}
footer img {
  width: 30px;
  height: 25px;
}
footer .footerBorder {
  padding: 0;
  margin: 0;
  border-color: gray;
  opacity: 0.1;
}
footer .footerContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3.3em 0;
  margin-top: -0.5em;
  flex: 1 1 0;
  width: auto;
}
footer .footerContainer .brandName {
  color: white;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
footer .footerContainer .footerLinks {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
  justify-content: center;
  padding: 2em 0;
  column-gap: 5em;
}
footer .footerContainer .footerLinks ul, footer .footerContainer .footerLinks .socialMedia li, footer .footerContainer .socialMedia .footerLinks li {
  list-style: none;
}
footer .footerContainer .footerLinks li {
  margin-bottom: 1em;
  font-weight: 600;
}
footer .footerContainer .footerLinks h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 2.5em;
}
footer .footerContainer .footerLinks a,
footer .footerContainer .footerLinks a:visited {
  font-size: 0.9rem;
  text-decoration: none;
  color: gray;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
footer .footerContainer .socialMedia {
  white-space: nowrap;
}
footer .footerContainer .socialMedia ul, footer .footerContainer .socialMedia li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footerContainer .socialMedia a {
  margin-right: 1em;
}

@media (max-width: 464px) {
  footer .footerContainer .brandName {
    margin: 0 auto;
  }
  footer .footerContainer .footerLinks {
    transform: scale(0.9);
  }
  footer .footerContainer .socialMedia {
    margin: 0 auto;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .filter p, .homePage .heroSubTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.homePage {
  overflow: hidden;
}
.homePage .heroImage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 525px;
  overflow: hidden;
  background: linear-gradient(rgba(255, 255, 255, 0.067), rgba(0, 0, 0, 0.6)), url("http://localhost:8080/housoku-images/hero/home/streetwear-dancing-filter.jpg") no-repeat;
  background-size: cover;
  background-position-y: 40%;
  background-position-x: center;
  /*    margin: 0 3.5em 2.75em 3.5em;
  transform: scale(1); */
  margin-bottom: 2.75em;
}
.homePage .heroContainer {
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  text-align: center;
  row-gap: 0.5em;
  margin: 0;
  padding: 0 0 3em 0;
}
.homePage .heroTitle {
  font-size: 1.95rem;
  font-weight: bold;
}
.homePage .heroSubTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: white;
}
.homePage .heroBtn {
  display: block;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0;
  border-radius: 15px;
  height: 60px;
  width: 130px;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border: 2px solid gray;
  text-decoration: none;
  cursor: pointer;
}
.homePage .heroBtn:hover {
  background-color: rgb(212, 212, 212);
}

@media (min-width: 960px) {
  .homePage .heroImage {
    align-items: flex-start;
  }
  .homePage .heroContainer {
    padding: 1em 0 1em 0;
    margin: 2em 0 2em 3.5em;
  }
}
@media (min-width: 400px) {
  .homePage .heroImage {
    align-items: flex-start;
  }
  .homePage .heroContainer {
    padding: 1em 0 1em 0;
    margin: 2em 0 2em 3.5em;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .filter p, .homePage .heroSubTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.homeProduct {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.3em;
}
.homeProduct a {
  color: black;
  text-decoration: none;
}
.homeProduct .productImage {
  background: url(http://localhost:8080/housoku-images/products/pants/cargo/housoku-black-cargo.jpg) no-repeat;
  background-size: cover;
  background-position-y: bottom;
  overflow: hidden;
  border-radius: 5px;
}
.homeProduct .productImgContainer {
  background-color: rgb(246, 246, 246);
}
.homeProduct .productImg {
  max-width: 460px;
  max-height: 460px;
  flex: 1 1 0;
}
.homeProduct .productInfo {
  margin-top: 1.5em;
  font-size: 1.4em;
}
.homeProduct .productInfo p {
  margin: 0;
  margin-bottom: 0.3em;
}
.homeProduct .productName, .homeProduct .productContainer .categoryName, .productContainer .homeProduct .categoryName, .homeProduct .maxWidth .categoryName, .maxWidth .homeProduct .categoryName {
  font-size: 1.15rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.homeProduct .productDesc {
  color: gray;
  font-size: 1.25rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.homeProduct .productPrice {
  font-weight: 400;
  font-size: 1.1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .filter p, .homePage .heroSubTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.homeProductContainer .featured {
  margin: 0em 3.3em;
  margin-bottom: 2em;
}
.homeProductContainer .headerLayer {
  padding: 0;
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.homeProductContainer .title h4, .homeProductContainer .shoppingCart .shoppingCartDetails .subTitle h4, .shoppingCart .shoppingCartDetails .homeProductContainer .subTitle h4 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.homeProductContainer .title p, .homeProductContainer .shoppingCart .shoppingCartDetails .subTitle p, .shoppingCart .shoppingCartDetails .homeProductContainer .subTitle p {
  padding: 0;
  margin: -0.5em 0 0 0;
  font-size: 0.98rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.homeProductContainer .scrollProducts {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;
}
.homeProductContainer .leftScrollButton, .homeProductContainer .rightScrollButton, .homeProductContainer .scrollButtonDisabled,
.homeProductContainer .scrollButtonDisabled:hover {
  visibility: hidden;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
  margin-left: 1em;
  border: none;
  text-align: center;
}
.homeProductContainer .leftScrollButton:hover, .homeProductContainer .rightScrollButton:hover, .homeProductContainer .scrollButtonDisabled:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);
}
.homeProductContainer .icon {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeProductContainer .scrollButtonDisabled,
.homeProductContainer .scrollButtonDisabled:hover {
  visibility: hidden;
  cursor: auto;
  background-color: rgb(246, 246, 246);
}
.homeProductContainer .productContainerRow {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1em;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scrollbar-color: rgb(0, 0, 0), rgb(0, 0, 0);
  scrollbar-width: thin;
}
.homeProductContainer .item {
  scroll-snap-align: center;
}
.homeProductContainer .sliderEnd {
  margin-left: -1em;
}

@media (min-width: 600px) {
  .homeProductContainer .leftScrollButton,
  .homeProductContainer .scrollButtonDisabled:hover,
  .homeProductContainer .rightScrollButton,
  .homeProductContainer .scrollButtonDisabled {
    visibility: visible;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownHeader, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .filter p, .homePage .heroSubTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #cartCount, .navbar .nav #brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar .navTrigger {
  width: 100%;
  z-index: 2000;
  margin-bottom: auto;
}
.navbar .nav {
  z-index: 1000;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Verdana, sans-serif;
  color: black;
  background-color: white;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  padding: 0em 3em;
  height: 4em;
  overflow: hidden;
}
.navbar .nav .navbar-brand {
  margin-right: auto;
}
.navbar .nav #brand {
  color: black;
  text-decoration: "none";
  font-size: 1.3rem;
}
.navbar .nav #brand:hover {
  color: grey;
}
.navbar .nav .navbar-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.navbar .nav ul, .navbar .nav footer .footerContainer .socialMedia li, footer .footerContainer .socialMedia .navbar .nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.navbar .nav li {
  display: inline;
}
.navbar .nav a {
  text-decoration: none;
  color: black;
}
.navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited {
  position: relative;
  display: none;
  padding: 0 1.75em;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  z-index: 3;
}
.navbar .nav .link:hover, .navbar .nav .topNavbar #signOut:hover, .topNavbar .navbar .nav #signOut:hover, .navbar .nav .topNavbar #welcomeMsg:hover, .topNavbar .navbar .nav #welcomeMsg:hover {
  text-decoration: underline;
  text-underline-offset: 0.8em;
}
.navbar .nav .searchbar {
  text-wrap: nowrap;
  color: rgb(179, 179, 179);
  position: relative;
  display: none;
  text-align: center;
  background-color: white;
  padding: 0.7em 4em;
  margin-right: 2em;
  background-color: rgba(195, 195, 195, 0.1);
  border-radius: 20px;
  z-index: 1000;
}
.navbar .nav #cartCount {
  position: absolute;
  font-size: 0.85rem;
  top: 1.5em;
  margin-left: 0.1em;
  flex-grow: 0;
}
.navbar .nav #shoppingCart {
  margin-right: 0.65em;
  z-index: 1000;
}
.navbar .nav .dropDownMenu, .navbar .nav .navbar-list li:hover .dropDownMenu {
  position: fixed;
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  left: 0;
  right: 0;
  background-color: white;
  padding: 4em 0em 5em 0em;
  column-gap: 6em;
  z-index: 2;
}
.navbar .nav .dropDownMenu li, .navbar .nav .navbar-list li:hover .dropDownMenu li {
  display: block;
  list-style: none;
  text-align: left;
}
.navbar .nav .dropDownHeader {
  font-size: 1rem;
  margin-bottom: 1em;
}
.navbar .nav .dropDownLink, .navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.3em;
}
.navbar .nav .dropDownLink a, .navbar .nav .dropDownLink a a, .navbar .nav .dropDownLink a a a {
  font-size: 1rem;
  color: grey;
}
.navbar .nav .dropDownLink a:hover, .navbar .nav .dropDownLink a a:hover, .navbar .nav .dropDownLink a a a:hover {
  color: black;
}
.navbar .nav .navbar-list li:hover .dropDownMenu, .navbar .nav .navbar-list li:hover .dropDownMenu {
  display: flex;
}
.navbar .nav * {
  flex: 0 0 auto;
}
.navbar .prespacer {
  background-color: white;
  left: 0;
  right: 0;
  height: 4em;
}

@media (min-width: 475px) {
  .navbar .nav .searchbar {
    display: block;
    visibility: hidden;
  }
}
@media (min-width: 960px) {
  .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
  .navbar .nav .link:visited {
    display: inline-block;
  }
}
.productPage {
  display: block;
  position: relative;
  margin: 0;
  overflow: hidden;
}

@media (min-width: 960px) {
  .productPage {
    margin: 3em 0em 0em 0em;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .filter p, .homePage .heroSubTitle, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .navbar .nav .dropDownHeader, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #brand, .navbar .nav #cartCount {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.productDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1.8em;
  margin: 0 0;
  flex: 0 0 0;
}
.productDetails .productImages {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 5px;
  order: 3;
  margin-top: 0.25em;
}
.productDetails .productImage img {
  width: 125px;
  height: 125px;
}
.productDetails #image-2 {
  filter: hue-rotate(150deg);
}
.productDetails #image-3 {
  filter: hue-rotate(250deg);
}
.productDetails #image-4 {
  filter: hue-rotate(40deg);
}
.productDetails #image-5 {
  filter: hue-rotate(450deg);
}
.productDetails #image-6 {
  filter: hue-rotate(550deg);
}
.productDetails .selectedImage {
  border: 2px solid black;
}
.productDetails .productImgContainer {
  order: 2;
}
.productDetails .mainProductImage {
  height: 550px;
  width: 100%;
}
.productDetails .productInfo {
  display: none;
}
.productDetails .productInfoTop, .productDetails .productInfoBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  padding: 1em 1em;
  font-size: 1.4em;
  order: 1;
}
.productDetails .productInfoTop p, .productDetails .productInfoBottom p {
  margin: 0;
}
.productDetails .productInfoBottom {
  flex: 1;
  order: 4;
}
.productDetails .productName, .productDetails .productContainer .categoryName, .productContainer .productDetails .categoryName, .productDetails .maxWidth .categoryName, .maxWidth .productDetails .categoryName {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.productDetails .productCategory {
  font-size: 1.15rem;
  padding-bottom: 0.8em;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.productDetails .productDesc {
  text-align: left;
  font-size: 1.1rem;
  color: gray;
  padding-bottom: 1em;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 0.5em 0;
}
.productDetails .productPrice {
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 1em;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.productDetails .productColour {
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 1em;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.productDetails .colourBtn {
  background-color: black;
  border-radius: 100px;
  border: 4px solid white;
  width: 1em;
  padding: 1em;
  margin: 0 0.5em;
  cursor: pointer;
}
.productDetails .colourBtn:focus {
  outline: 2px solid gray;
}
.productDetails .productSize {
  padding: 0.5em 0 1em 0;
  font-size: 1.1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.productDetails .sizeBtnContainer {
  margin-bottom: 1em;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.productDetails .sizeBtn, .productDetails .sizeBtnSelected {
  display: inline;
  background-color: white;
  border: 2px solid rgba(128, 128, 128, 0);
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.3);
  text-align: center;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: auto;
  height: 3.5em;
  margin: 0 0.3em 0.3em 0;
  cursor: pointer;
}
.productDetails .sizeBtn:hover, .productDetails .sizeBtnSelected:hover {
  border: 2px solid black;
}
.productDetails .sizeBtnSelected {
  border: 2px solid black;
}
.productDetails .errorMsg {
  font-size: 0.93rem;
  font-weight: 400;
  padding-top: 2em;
  margin: -2em 0 1em 0;
  text-align: start;
  color: rgb(219, 0, 0);
}
.productDetails .checkoutBtn, .productDetails .checkoutBtnDisabled {
  background-color: black;
  color: white;
  padding: 2em 0em;
  width: 100%;
  border-radius: 50px;
  font-weight: 700;
  border-style: none;
  align-self: center;
  cursor: pointer;
}
.productDetails .checkoutBtnDisabled {
  cursor: auto;
  background-color: rgb(51, 51, 51);
}
.productDetails .checkoutBtn:hover, .productDetails .checkoutBtnDisabled:hover {
  background-color: rgb(51, 51, 51);
}

@media (min-width: 960px) {
  .productDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 1.8em;
    margin: 0 0;
    flex-shrink: 0;
  }
  .productDetails .productImage {
    display: none;
  }
  .productDetails .productImgContainer {
    order: 0;
  }
  .productDetails .mainProductImage {
    height: 620px;
    width: 550px;
  }
  .productDetails .productInfoTop, .productDetails .productInfoBottom {
    display: none;
  }
  .productDetails .productInfoBottom {
    display: none;
  }
  .productDetails .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    padding: 0 0 0 4em;
    font-size: 1.4em;
    width: 368px;
  }
  .productDetails .productInfo .productSize {
    padding: 1em 0;
  }
  .productDetails .productInfo .productDesc {
    display: block;
    text-align: left;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .productDetails .productImages {
    display: block;
    margin: 0 1em 0 0;
    order: 0;
  }
  .productDetails .productImage {
    display: block;
    margin: 0 0 0.25em 0;
  }
  .productDetails .productImage img {
    height: 75px;
    width: 75px;
  }
}
@media (max-width: 1100px) {
  .productDetails .item {
    width: 80%;
  }
}
@media (max-width: 960px) {
  .productDetails .item {
    width: auto;
  }
}
@media (max-width: 780px) {
  .productDetails .productInfoBottom,
  .productDetails .productInfoTop {
    width: 93.5%;
  }
  .productDetails .productImgContainer {
    width: 100%;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .filter p, .homePage .heroSubTitle, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .navbar .nav .dropDownHeader, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #brand, .navbar .nav #cartCount {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.shoppingCart {
  margin-top: 3em;
  display: block;
}
.shoppingCart .shoppingCartDetails {
  padding: 0 2em;
  display: block;
}
.shoppingCart .shoppingCartDetails .title, .shoppingCart .shoppingCartDetails .subTitle {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.shoppingCart .shoppingCartDetails .subTitle {
  font-size: 1.25rem;
  font-weight: 100;
  margin-bottom: 1.2em;
}
.shoppingCart .shoppingCartDetails .bagContainer {
  width: auto;
}
.shoppingCart .shoppingCartDetails .bagSubheading {
  padding-bottom: 3em;
}
.shoppingCart .shoppingCartDetails .emptyCartMsg {
  padding-bottom: 2em;
  text-align: center;
}
.shoppingCart .shoppingCartDetails .summaryHeading .title, .shoppingCart .shoppingCartDetails .summaryHeading .subTitle {
  text-align: left;
  margin-bottom: 1em;
}
.shoppingCart .shoppingCartDetails .summaryContainer {
  display: flex;
  flex-direction: column;
}
.shoppingCart .shoppingCartDetails .summaryContainer p {
  text-wrap: wrap;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1em;
}
.shoppingCart .shoppingCartDetails .topDivider {
  margin: 0 0 2em 0;
  border-color: gray;
  opacity: 0.1;
}
.shoppingCart .shoppingCartDetails .summaryDivider {
  margin-bottom: 1em;
  border-color: gray;
  width: 100%;
  opacity: 0.1;
}
.shoppingCart .shoppingCartDetails .checkoutBtn, .shoppingCart .shoppingCartDetails .productDetails .checkoutBtnDisabled, .productDetails .shoppingCart .shoppingCartDetails .checkoutBtnDisabled {
  margin-top: 1em;
  background-color: black;
  color: white;
  padding: 2em 0em;
  width: 100%;
  border-radius: 50px;
  font-weight: 700;
  border-style: none;
  align-self: center;
  cursor: pointer;
}
.shoppingCart .shoppingCartDetails .checkoutBtn:hover, .shoppingCart .shoppingCartDetails .productDetails .checkoutBtnDisabled:hover, .productDetails .shoppingCart .shoppingCartDetails .checkoutBtnDisabled:hover {
  background-color: rgb(51, 51, 51);
}

@media (min-width: 960px) {
  .shoppingCart {
    margin: 3em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .shoppingCart .shoppingCartDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 0;
    padding: 0 1em;
    column-gap: 2em;
  }
  .shoppingCart .shoppingCartDetails .title, .shoppingCart .shoppingCartDetails .subTitle {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 1.2em;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .shoppingCart .shoppingCartDetails .bagSubheading {
    display: none;
  }
  .shoppingCart .shoppingCartDetails .bagContainer {
    flex: 0 1 725px;
  }
  .shoppingCart .shoppingCartDetails .emptyCartMsg {
    text-align: left;
  }
  .shoppingCart .shoppingCartDetails .summaryContainer {
    display: flex;
    flex-direction: column;
    flex: 0 1 350px;
  }
  .shoppingCart .shoppingCartDetails .summaryContainer p {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1em;
  }
  .shoppingCart .shoppingCartDetails .summaryContainer * {
    flex: 0 0 auto;
  }
  .shoppingCart .shoppingCartDetails .summaryDivider {
    margin-bottom: 1em;
    border-color: gray;
    width: 100%;
    opacity: 0.1;
  }
  .shoppingCart .shoppingCartDetails .checkoutBtn, .shoppingCart .shoppingCartDetails .productDetails .checkoutBtnDisabled, .productDetails .shoppingCart .shoppingCartDetails .checkoutBtnDisabled {
    margin-top: 1em;
    background-color: black;
    color: white;
    padding: 2em 0em;
    width: 100%;
    border-radius: 50px;
    font-weight: 700;
    border-style: none;
    align-self: center;
    cursor: pointer;
  }
  .shoppingCart .shoppingCartDetails .checkoutBtn:hover, .shoppingCart .shoppingCartDetails .productDetails .checkoutBtnDisabled:hover, .productDetails .shoppingCart .shoppingCartDetails .checkoutBtnDisabled:hover {
    background-color: rgb(51, 51, 51);
  }
  .shoppingCart .shoppingCartDetails .topDivider {
    display: none;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .filter p, .homePage .heroSubTitle, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .navbar .nav .dropDownHeader, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #brand, .navbar .nav #cartCount {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.shoppingCartProduct {
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: max-content;
  padding: 0;
}
.shoppingCartProduct .productDetails {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 0;
  row-gap: 0.5em;
  height: auto;
}
.shoppingCartProduct .productDetails p {
  margin: 0;
  padding: 0;
}
.shoppingCartProduct .productDetails .productName, .shoppingCartProduct .productDetails .productContainer .categoryName, .productContainer .shoppingCartProduct .productDetails .categoryName, .shoppingCartProduct .productDetails .maxWidth .categoryName, .maxWidth .shoppingCartProduct .productDetails .categoryName {
  font-size: 1.1rem;
  font-weight: 500;
}
.shoppingCartProduct .productDetails .productCategory {
  color: gray;
  font-size: 1rem;
  padding: 0%;
}
.shoppingCartProduct .productDetails .productOptions p {
  margin-bottom: 0.5em;
  display: inline-block;
}
.shoppingCartProduct .productDetails .productSize {
  color: gray;
  font-weight: 400;
  font-size: 1rem;
  padding: 0;
}
.shoppingCartProduct .productDetails .productQuantity {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 0.5em;
  margin-bottom: 2.3em;
  color: gray;
}
.shoppingCartProduct .productDetails .quantitySelectList, .shoppingCartProduct .productDetails .sizeSelectList {
  border: none;
  width: 5em;
  margin-left: 0.5em;
  color: grey;
  font-size: 0.93rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.shoppingCartProduct .productDetails .quantitySelectList:focus, .shoppingCartProduct .productDetails .sizeSelectList:focus {
  border: 1.6px solid black;
}
.shoppingCartProduct .productDetails a {
  text-decoration: none;
  color: black;
}
.shoppingCartProduct .productPrice {
  display: none;
  font-weight: 500;
}
.shoppingCartProduct .productPriceTop {
  font-weight: 500;
}
.shoppingCartProduct #bin {
  margin-top: auto;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.shoppingCartDivider {
  margin: 2em 0;
  border-color: gray;
  opacity: 0.1;
}

@media (min-width: 960px) {
  .shoppingCartProduct {
    flex: 1 1 45em;
  }
  .shoppingCartProduct .productDetails {
    flex: 1 1 0;
    row-gap: 0;
  }
}
@media (min-width: 600px) {
  .shoppingCartProduct .productPrice {
    display: block;
    margin-right: auto;
  }
  .shoppingCartProduct .productPriceTop {
    display: none;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .filter p, .homePage .heroSubTitle, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .navbar .nav .dropDownHeader, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #brand, .navbar .nav #cartCount {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.signIn .heading {
  flex: 1 1 0;
}
.signIn .signIn-form {
  width: 441px;
  text-align: center;
  padding-bottom: 3em;
  flex: 1 1 0;
}
.signIn h4 {
  font-size: 2rem;
  margin-bottom: 1.5em;
}
.signIn label {
  display: block;
  text-align: start;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1em;
}
.signIn input, .signIn .inputError {
  outline: none;
  text-decoration: none;
  padding: 0.6em 0em;
  width: auto;
  border: 1px solid black;
  border-radius: 1px;
  margin-bottom: 1em;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
}
.signIn input:focus, .signIn .inputError:focus {
  border-bottom: 3px solid black;
}
.signIn .inputError {
  border: 1px solid rgb(219, 0, 0);
}
.signIn .inputError:focus {
  border-bottom: 3px solid rgb(219, 0, 0);
}
.signIn .signInBtn {
  margin-top: 2em;
  background-color: black;
  color: white;
  padding: 2em 0em;
  width: 100%;
  font-weight: 700;
  border-style: none;
  justify-content: center;
  cursor: pointer;
}
.signIn .signInBtn:hover {
  background-color: rgb(51, 51, 51);
}
.signIn p {
  margin: 0;
  padding: 0%;
}
.signIn .errorMsg {
  font-size: 0.93rem;
  font-weight: 400;
  padding: 0.5em 0;
  margin-top: -1em;
  text-align: start;
  color: rgb(219, 0, 0);
}

@media (max-width: 470px) {
  .signIn .heading {
    text-align: center;
  }
  .signIn .item {
    width: 90%;
  }
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular, .filter p, .homePage .heroSubTitle, .navbar .nav .link, .navbar .nav .topNavbar #signOut, .topNavbar .navbar .nav #signOut, .navbar .nav .topNavbar #welcomeMsg, .topNavbar .navbar .nav #welcomeMsg,
.navbar .nav .link:visited, .navbar .nav .dropDownHeader, .navbar .nav .dropDownLink, .navbar .nav .dropDownLink a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium, .topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited, .navbar .nav #brand, .navbar .nav #cartCount {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black, .homePage .heroTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* @mixin ProductHeading($fontWeight: 500) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $fontWeight;
    font-style: normal;
} */
.topNavbar {
  border-bottom: 0.5px solid rgba(211, 211, 211, 0.187);
  position: relative;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  font-family: Verdana, sans-serif;
  color: black;
  background-color: rgb(248, 248, 248);
  height: 100%;
  padding: 0.25em 3em;
  overflow: hidden;
}
.topNavbar .navbar-list {
  flex-shrink: 0;
  padding: 0%;
  margin: 0;
}
.topNavbar ul, .topNavbar footer .footerContainer .socialMedia li, footer .footerContainer .socialMedia .topNavbar li {
  padding: 0%;
  margin: 0 0;
  list-style: none;
}
.topNavbar li {
  display: inline-block;
}
.topNavbar a {
  padding: 0%;
  margin: 0;
  text-decoration: none;
  color: black;
}
.topNavbar a:hover {
  text-decoration: underline;
  text-underline-offset: 0.8em;
}
.topNavbar .link, .topNavbar #signOut, .topNavbar #welcomeMsg,
.topNavbar .link:visited {
  padding: 0 0 0 1em;
  text-decoration: none;
  color: black;
  font-size: 0.85rem;
}
.topNavbar #logo {
  visibility: hidden;
  justify-self: start;
  align-self: center;
  width: 100%;
  padding: 0%;
  margin: 0;
}
.blurScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(4px);
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
