@import '../../../scss/fonts';


.topNavbar {

    $font-stack: Verdana, sans-serif;
    $color: black;
    $background: rgb(248, 248, 248);
    border-bottom: .5px solid rgba(211, 211, 211, 0.187);
    $navFontSize: .85rem;
    $BrandFontSize: 1rem;
    position: relative;
    left: 0;
    right: 0;
    z-index: 1000;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-family: $font-stack;
    color: $color;
    background-color: $background;
    height: 100%;
    padding: 0.25em 3em;
    overflow: hidden;

    .navbar-list {
        flex-shrink: 0;
        padding: 0%;
        margin: 0;

    }

    ul {
        padding: 0%;
        margin: 0 0;
        list-style: none;

    }

    li {
        display: inline-block;

    }

    a {
        padding: 0%;
        margin: 0;
        text-decoration: none;
        color: black;

    }


    a:hover {

        text-decoration: underline;
        text-underline-offset: .8em;
    }


    .link,
    .link:visited {
        padding: 0 0 0 1em;
        text-decoration: none;
        color: $color;
        font-size: $navFontSize;
        @extend .roboto-medium
    }

    #logo {
        visibility: hidden;
        justify-self: start;
        align-self: center;
        width: 100%;
        padding: 0%;
        margin: 0;

    }

    #welcomeMsg {
        @extend .link;
    }

    #signOut {
        @extend .link;
    }

}