@import '../../../../scss/fonts';

.productDetails {

    $errorMsgFontSize: 0.93rem;
    $errorFontWeight: 400;
    $errorTextColour: rgb(219, 0, 0);

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1.8em;
    margin-right: 4em;

    .productImage {
        margin-bottom: .5em;
    }

    .productImage:hover {
        cursor: pointer;
    }

    @mixin productInfoSpacing ($spacing: 0) {
        margin-top: $spacing;
    }

    .productInfo {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0;
        padding: 0 0 0 5em;

        font-size: 1.4em;
        width: 19em;

        p {
            margin: 0;

        }
    }

    .productName {
        font-size: 1.5rem;
        font-weight: 500;
        @include ProductFont(400)
    }

    .productCategory {
        font-size: 1.15rem;
        padding-bottom: .8em;
        @include ProductFont(400)
    }

    .productDesc {
        font-size: 1.1rem;
        color: gray;
        padding-bottom: 1em;
        @include ProductFont(400)
    }


    .productPrice {
        font-weight: 400;
        font-size: 1.2rem;
        padding-bottom: 1em;
        @include ProductFont(400)
    }

    .productColour {
        color: black;
        font-weight: 400;
        font-size: 1.2rem;
        padding-bottom: 1em;
        @include ProductFont(400)
    }

    .colourBtn {
        background-color: black;
        border-radius: 100px;
        border: 4px solid white;
        width: 1em;
        padding: 1em;
        margin: 0 0.5em;
        cursor: pointer;
    }

    .colourBtn:focus {
        outline: 2px solid gray;
    }


    .productSize {
        margin: auto;
        padding-bottom: 1em;
        font-size: 1.1rem;
        @include ProductFont(400)
    }

    .sizeBtn {

        display: inline;
        background-color: white;
        border: 2px solid rgba(128, 128, 128, 0);
        border-radius: 5px;
        border-color: rgba($color: Gray, $alpha: 0.3);
        text-align: center;
        font-size: 1rem;
        @include Heading(400);
        width: 6em;
        height: 3.5em;
        margin: 0 0.3em 0.3em 0;
        cursor: pointer;
    }

    .sizeBtn:hover {
        border: 2px solid black;

    }

    .sizeBtnSelected {
        @extend .sizeBtn;
        border: 2px solid black;

    }

    .errorMsg {
        font-size: $errorMsgFontSize;
        font-weight: $errorFontWeight;
        padding-top: 2em;
        margin-top: -1em;
        text-align: start;
        color: $errorTextColour;
    }

    /* 
        input[type="radio"] {
            display: none;
        }

        .customSizeRadio::before {
            content: "";
            position: absolute;
            border: 1px solid red;
            display: inline;
            border-radius: 3px;
            border-color: rgba($color: Gray, $alpha: 0.3);
            text-align: center;
            font-weight: 500;
            width: 4.5em;
            height: 3em;
            margin: -.75em -1.4em;
            cursor: pointer;
        }

        .customSizeRadio {
            display: inline;
            background-color: white;
            // border: 2px solid gray;
            border-radius: 3px;
            border-color: rgba($color: Gray, $alpha: 0.3);
            font-weight: 500;
            margin: 0em 2em;

            cursor: pointer;

        }



        input[type="radio"]:checked+.customSizeRadio {
            // border: 2px solid black;
     
        }
 */





    .checkoutBtn {

        margin-top: 1em;
        background-color: black;
        color: white;
        padding: 2em 0em;
        width: 100%;
        border-radius: 50px;
        font-weight: 700;
        border-style: none;
        align-self: center;
        cursor: pointer;

    }

    .checkoutBtnDisabled {
        @extend .checkoutBtn;
        cursor: auto;
        background-color: rgb(51, 51, 51)
    }

    .checkoutBtn:hover {
        background-color: rgb(51, 51, 51)
    }

    /* .quantityBtn {
        @extend .checkoutBtn;
        border-radius: 0;
        margin: 0 1em 0 0;
        padding: 2em;
    } */
}