@import '../../../../scss/fonts';

.shoppingCartProduct {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: max-content;
    padding: 0;



    .productDetails {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        gap: 0;
        row-gap: 0.5em;
        height: auto;

        p {
            margin: 0;
            padding: 0;

        }


        .productName {
            font-size: 1.1rem;
            font-weight: 500;
        }

        .productCategory {
            color: gray;
            font-size: 1rem;
            padding: 0%;
        }

        .productOptions p {
            margin-bottom: 0.5em;
            display: inline-block;
        }


        .productColour {}

        .productSize {
            color: gray;
            font-weight: 400;
            font-size: 1rem;
            padding: 0;
        }

        .productQuantity {
            @include ProductFont(400);
            font-weight: 400;
            font-size: 1rem;
            margin-left: .5em;
            margin-bottom: 2.3em;
            color: gray;
        }


        .quantitySelectList {
            border: none;
            width: 5em;
            margin-left: .5em;
            color: grey;
            font-size: .93rem;
            @include ProductFont(500);

        }

        .sizeSelectList {
            @extend .quantitySelectList
        }

        .quantitySelectList:focus {
            border: 1.6px solid black;
        }


        a {
            text-decoration: none;
            color: black;
        }
    }

    .productPrice {
        display: none;
        font-weight: 500;
    }

    .productPriceTop {
        font-weight: 500;
    }

    #bin {
        margin-top: auto;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}


.shoppingCartDivider {
    margin: 2em 0;
    border-color: gray;
    opacity: 0.1;
}


@media (min-width: 960px) {
    .shoppingCartProduct {
        flex: 1 1 45em;


        .productDetails {
            flex: 1 1 0;
            row-gap: 0;
        }
    }
}

@media (min-width: 600px) {
    .shoppingCartProduct {
        .productPrice {
            display: block;
            margin-right: auto;
        }

        .productPriceTop {
            display: none
        }
    }
}